{%extends "base.html"%}
{%block titre%} Don de sang {%endblock titre%}
{%block contenu%} <h1>Don de sang</h1> <h2>Le don de sang, c'est quoi?</h2>
<h3>Le sang est un liquide vital, indispensable au fonctionnement du corps humain, il ne peut être ni fabriqué artificiellement ni synthétisé. 
On peut facilement le prélever sur un individu sain pour le transfuser à un individu malade. 
Le don du sang est le seul moyen nécessaire pour couvrir les besoins des malades pour rester en vie. </h3>

<h2>Ensemble, sauvons des vies!</h2>
<h3>Votre don est un acte citoyen, solidaire et libre qui permet de répondre à des besoins quotidiens de manière bénévole. 
Plus vous serez nombreux et réguliers à donner, plus nous pourrons aider ensemble chaque jour les patients qui en ont besoin.</h3>
<h3><a href="/article/pourquoi/">Pourquoi donner ?</a></h3>

<h2>Puis-je donner ?</h2> <h3>Cet acte généreux et solidaire doit malgré tout respecter certaines règles qui garantissent votre 
sécurité comme celle du receveur. Vérifiez dès maintenant si vous pouvez donner votre sang en vous autoévaluant!</h3>
<h3><a href="/article/qui/">Qui peut donner ?</a></h3>

<h2>Nous sommes près de  vous !</h2> <h3><a href="/article/ou-donner/">Où donner ?</a></h3>

{%endblock contenu%}