{%extends 'index.html'%}
{%block titre%} Où donner ? {%endblock titre%}
{%block contenu%}
<section class="Home">
    <div class="right_side_home">
    <h2 class="headline">Où aller pour donner ?</h2>
    <h3 >Vous pouvez sauver des vies tout près de chez vous !</h3>
    <h2>Localiser un lieu de don: </h2>
    </div>
    <div class="wave">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    <div class="left_side_home">
        <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/search?q=centre%20de%20transfusion%20sanguine%20maroc&key=AIzaSyDzupkHPLGoQcb87HUwp3pJDbVMhcPCdvk">
        </iframe>
    </div>
</section>
{%endblock contenu%}
