{%extends "base.html"%}
{%block titre%}Pourquoi donner ?{%endblock titre%}
{%block contenu%} <h1>Pourquoi donner ?</h1>
<h2> Donner du sang est un excellent service humanitaire pour sauver des vies humaines lors :
    <h3><ul>
        <li>D'accidents</li>
        <li>Des chirurgies</li>
        <li>Pour les femmes présentant des complications de la grossesse </li>
        <li>Pour le traitement des malades</li>
    </ul>
    Donner du sang est un devoir religieux. Chaque don de sang peut sauver 3 vies.
    Toutes les 10 secondes, quelqu'un a besoin d'une transfusion sanguine pour sauver sa vie.
    </h3>
</h2>
<h2>
    4 chiffres clés du don de sang
    <ul>
        <li>Chaque année, 1 million de malades sont soignés.</li>
        <li>1h de votre temps suffit à sauver 3 vies !</li>
        <li>Chaque jour, nous avons besoin de 10 000 dons.</li>
        <li>Vous pouvez donner toutes les 8 semaines.</li>
    </ul>
</h2>
{%endblock contenu%}