{%extends 'index.html'%}
{%block titre%} Qui peut donner ?{%endblock titre%}
{%block contenu%}
<h1>C'est d'abord une question d'âge et de poids !</h1>
<h2>Vous avez entre 18 et 70 ans révolus ? Vous pesez plus de 50 kilos ? 
    Bonne nouvelle, vous avez probablement un grand pouvoir, celui de sauver des vies en donnant votre sang ! 
    
    Vous pouvez donner jusqu'à 6 fois par an pour les hommes et jusqu'à 4 fois pour les femmes.
    
    Pour savoir dès maintenant si vous pouvez faire un don, faites le test en ligne.</h2>

{%endblock contenu%}