<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titre%} Don du sang {%endblock titre%}</title>
</head>
<body>
    <div id="menuh">
        {%block menuh%}
        <ul>
            <li><a href="/article/accueil/">Accueil</a></li>
            <li><a href="/article/pourquoi/">Pourquoi donner ?</a></li>
            <li><a href="/article/qui/">Qui peut donner ?</a></li>
            <li><a href="/article/ou-donner/">Où donner?</a></li>
            <li><a href="/article/contact/">Contactez-nous</a></li>
        </ul>
        {%endblock menuh%}
    </div>
    <div id="contenu">
        {%block contenu%}{%endblock contenu%}
    </div>
    <div id="menub">
        {%block menub%}
        <ul>
            <li><a href="/article/accueil/">Accueil</a></li>
            <li><a href="/article/pourquoi/">Pourquoi donner ?</a></li>
            <li><a href="/article/qui/">Qui peut donner ?</a></li>
            <li><a href="/article/ou-donner/">Où donner?</a></li>
            <li><a href="/article/contact/">Contactez-nous</a></li>
        </ul>
        {%endblock menub%}
    </div>
</body>
</html>